@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#121214] text-zinc-100 font-poppins
  
}

::selection {
  background-color: #E05263;
}

::-webkit-scrollbar {
  width: 0.6em;
  height: 0.6em;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
